<html>
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
    <title>To Do List</title>
</head>
<body>
    <div class='container'>
        <h1>List cleared!</h1>
        <p><a href='/'>Home</a></p>
        <img src="./img/delete.jpeg" alt="Done" />
    </div>
</body>
</html>
